<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form action="/login" method="post">
        <label for="name">UserName:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="name">Password:</label>
        <input type="password" id="Password" name="Password" required><br><br>

        

        <input type="submit" value="Submit">
    </form>
</body>
</html>
