<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form action="/login" method="post">
        <label for="name">UserName:</nabel>
        <input type="text" id="name" name="name" required><br><br>

        <label for="name">Password1:</label>
        <input type="password" id="Password" name="Password" required><br><br>

        <label for="name">Password2:</label>
        <input type="password" id="Passwordr" name="Passwordr" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
